.Checkout {
    position: relative;
    padding: 20px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    h3 {
        font-size: 30px;
        text-align: center;
        margin-top: 80px;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 60px;
        p {
            width: 100%;
            text-align: left;
            padding: 0 4px;
            margin-bottom: 6px;
            font-size: 12.8px;
        }
        input {
            background: #222222;
            border: none;
            width: 100%;
            height: 40px;
            color: #FBFBFB;
            margin-bottom: 30px;
            padding: 10px;
            font-family: 'Roboto', sans-serif;
            &:focus {
                padding: 10px;
                outline: 2px solid #4FD500;
                box-shadow: 0 0 4px 0 #4FD500;
            }
        }
        .half {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .input {
                width: 45%;
            }
        }
    }
    .items-head {
        margin-bottom: 100px;
    }
    .item {
        width: 100%;
        font-weight: 500;
    }
    .price {
        width: 100%;
        text-align: right;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        span {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: #4FD500;
            font-size: 14px;
            margin-left: 12px;
        }
        margin: 30px 0 80px;
    }
    .notes {
        p {
            width: 100%;
            text-align: left;
            padding: 0 4px;
            margin-bottom: 6px;
        }
        textarea {
            background: #222222;
            border: none;
            width: 100%;
            max-height: 350px;
            max-width: 100%;
            color: #FBFBFB;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            padding: 10px;
            &:focus {
                padding: 10px;
                outline: 2px solid #4FD500;
                box-shadow: 0 0 4px 0 #4FD500;
            }
        }
    }
    .separator {
        width: 100%;
        height: 2px;
        background: #4FD500;
        margin: 150px 0;
    }
    .options {
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
    }
    .card-info {
        margin-bottom: 60px;
    }
    .link {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    .Popup {
        .popup-box {
            height: 60%;
            max-width: 400px;
            h4 {
                font-size: 20px;
            }
        }
    }
}