@media screen and (min-width: 600px) {
    .About {
        padding: 50px 120px;
        .about-bg {
            top: 150px;
        }
        h3 {
            font-size: 40px;
        }
        p {
            margin-top: 30px;
            font-size: 15px;
        }
    }
}

@media screen and (min-width: 947px) {
    .About {
        padding: 50px 80px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: ". ."
                             "title title"
                             ". ."
                             "about ."
                             ". .";
        .about-bg {
            top: 160px;
        }
        p {
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 1400px) {
    .About {
        padding: 20px 120px;
        .about-bg {
            top: 160px;
            height: 500px;
        }
        p {
            margin-top: 60px;
        }
    }
}