@media screen and (min-width: 800px) {
    .Footer {
        padding: 0 60px;
        height: 120px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "social-media sponsors info";
        .sponsors {
            .img-wrapper {
                max-width: 360px;
                padding: 0;
                img {
                    height: 22px;
                }
            }
        }
        .info {
            padding: 0;
            height: 48px;
            font-size: 13px;
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-rows: 24px 24px;
            grid-template-areas: "rights rights rights"
                                 ". terms privacy";
            .terms {
                justify-self: end;
            }
            .rights {
                justify-self: end;
            }
            .privacy {
                justify-self: end;
            }
        }
        .social-media {
            .icon-wrapper {
                margin: 0;
                max-width: 160px;
                padding: 0;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .Footer {
        height: 100px;
        .sponsors {
            .img-wrapper {
                max-width: 420px;
                img {
                    height: 24px;
                }
            }
        }
        .info {
            height: auto;
            width: 100%;
            font-size: 14px;
            grid-template-columns: 4fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "rights terms privacy";
            .terms {
                justify-self: center;
            }
            .rights {
                justify-self: center;
            }
            .privacy {
                justify-self: end;
            }
        }
        .social-media {
            .icon-wrapper {
                margin: auto;
                max-width: 220px;
                .icon {
                    font-size: 22px;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .Footer {
        height: 80px;
    }
}