* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #010101;
  color: #FBFBFB;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

.App h3, .App h4, .App h5 {
  transform: skew(-27deg);
}

.App h3, .App h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.App h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

